<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chris Dixon's Portfolio</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div :style="[darkModeSet ? darkMode : '', base]">
      <header>
        <h1>{{ name }}'s Portfolio</h1>
        <nav>
          <ul>
            <li v-for="link in links" :key="link.id">
              <a :href="link.url">{{link.name}}</a>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <div class="blog_wrapper">
          <button @click="darkModeSet = !darkModeSet">
            {{ darkModeSet ? '&#9788;' : '&#9789;' }}
          </button>
          <!-- BLOG SECTION -->
          <section id="blog">
            <article v-for="post in posts" :key="post.id">
              <h3>{{post.title}}</h3>
              <p>{{post.body}}</p>
              <p class="read_more">Read More</p>
            </article>
          </section>
        </div>
      </main>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
  </body>
</html>
